{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block header %}
    <h2>Welcome to the Movie Tracker!</h2>
{% endblock %}

{% block content %}
    <p>
        Have you ever wanted to keep track of the movies that you've watched over the years?
        Maybe you don't want to accidentally watch the same one twice, or you're curious about when (or if) you last saw a certain movie.
        We'll you're in luck! The Movie Tracker app was designed for just such a purpose.
    </p>
    <p>
        After registering and logging in, you can save however many movies you want.
        You can then view a list of all of the movies that you've seen, and you can search for them by title or date.
        Have fun!
    </p>
{% endblock %}