{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block header %}
    <h2>Register here!</h2>
{% endblock %}

{% block content %}
    <p><span class="required">*</span> Indicates a required field</p>
    <form method="post">
        <label for="username"><span class="required">*</span> Username: </label>
        <input name="username" id="username" required />
        <label for="password"><span class="required">*</span> Password: </label>
        <input type="password" name="password" id="password" required />
        <input type="submit" value="Register" />
    </form>
{% endblock %}